{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Kirish{% endblock %}
{% block content %}
<div class="bg-white rounded p-4 my-3 col-4 mx-auto">
   <h1>Kirish</h1>
   <form method="post">
       {% csrf_token %}
       {{ form | crispy }}
       <button class="btn btn-outline-secondary" type="submit">Kirish</button>
   </form>
   <p>Akkount yo‘qmi?<a href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>
   <p>Parolni unutdingizmi ? <a href="{% url 'password_reset' %}">Parolni tiklash</a></p>
</div>
{% endblock %}
