{% extends "base.html" %}
{% block title %}Mahsulot formasi{% endblock %}

{% block content %}
<div class="row justify-content-center">
 <div class="col-md-8">
   <div class="card shadow-sm">
     <div class="card-body">
       <h1 class="h4 mb-3">Mahsulot</h1>

       <!-- main_image borligi uchun enctype shart -->
       <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form.as_p }}

         <div class="d-flex gap-2">
           <button class="btn btn-dark">Saqlash</button>
           <a class="btn btn-outline-secondary" href="{% url 'seller_products' %}">Bekor qilish</a>
         </div>
       </form>

     </div>
   </div>
 </div>
</div>
{% endblock %}


