{% extends "base.html" %}
<!--  -->
{% block title %}Products{% endblock %}
<!-- .\ -->
{% block content %}
<h1 class="">Mahsulotlar</h1>
<div class="row">

 {% for p in products %}
     <div class="col-3">
      <div class="card " >
     {% if p.main_image %}
     <div class="image-container border p-1 m-1 rounded">
      <img class="w-100" src="{{ p.main_image.url }}" alt="{{ p.name }}" />
     </div>
     {% else %}
     <div class="image-container border p-1 m-1 rounded"><span>No image</span></div>
     {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ p.name }}</h5>
    <p class="card-text">{{ p.short_description }}</p>
    <span><b>Narxi:</b> {{ p.price }} so`m</span>
     <span class="badge text-bg-secondary">{% if p.category %}{{ p.category.name }}{% else %}No category{% endif %}</span>
   <p class="my-4">
     <a href="{% url 'product_detail' p.slug %}" class="btn btn-primary">Batafsil</a>
   </p>
  </div>
</div>
     </div>
 {% empty %}
 <p>Hozircha mahsulot yo‘q.</p>
 {% endfor %}
</div>


{% if is_paginated %}
 <nav class="mt-4">
   <ul class="pagination">
     {% if page_obj.has_previous %}
       <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Oldingi</a>
       </li>
     {% endif %}

     <li class="page-item disabled">
       <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
     </li>

     {% if page_obj.has_next %}
       <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.next_page_number }}">Keyingi</a>
       </li>
     {% endif %}
   </ul>
 </nav>
{% endif %}
{% endblock %}


