{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="row g-4">
 <div class="col-md-5">
   <div class="card shadow-sm">
     {% if product.main_image %}
       <img src="{{ product.main_image.url }}" class="img-fluid" alt="{{ product.name }}">
     {% else %}
       <div class="bg-white d-flex align-items-center justify-content-center" style="height:320px;">
         <span class="text-muted">No image</span>
       </div>
     {% endif %}
   </div>
   {% if product.images.all %}
     <div class="d-flex gap-2 mt-3 flex-wrap">
       {% for img in product.images.all %}
         <img src="{{ img.image.url }}" alt="{{ img.alt_text }}" class="border rounded" style="width:80px; height:80px; object-fit:cover;">
       {% endfor %}
     </div>
   {% endif %}
 </div>
<div class="col"><h1>{{ product.name }}</h1>
<div>Seller: {{ product.seller.username }} {% if product.category %}| Category: {{ product.category.name }}{% endif %}</div>
<div>{{ product.price }} so'm</div>
{% if product.short_description %}<p>{{ product.sfhort_description }}</p>{% endif %}
{% if product.description %}<p>{{ product.description }}</p>{% endif %}
<ul>
<li><strong>Stock:</strong> {{ product.stock }}</li>
<li><strong>Status:</strong> {% if product.is_active %}Active{% else %}Inactive{% endif %}</li>
</ul>
{% if request.user.is_authenticated %}
 <form method="post" action="{% url 'cart_add' product.id %}" class="d-flex gap-2">
   {% csrf_token %}
   <input type="number" name="qty" value="1" min="1" class="form-control" style="max-width:120px;">
   <button class="btn btn-success">Savatga</button>
   <a class="btn btn-outline-dark" href="{% url 'cart_detail' %}">Savatchani ko'rish</a>
 </form>
{% else %}
 <div class="alert alert-light border">
   Savatchaga qo‘shish uchun login qiling.
   <a class="btn btn-dark btn-sm ms-2"
      href="{% url 'login' %}?next={% url 'product_detail' product.slug %}">
     Login
   </a>
 </div>
{% endif %}

<a class="btn btn-dark" href="{% url 'product_list' %}">Orqaga</a>
</div>
</div>
{% endblock %}
